body {
    padding-top: 80px;
    padding-bottom: 30px;
}

#logo {
    width: 97px;
    height: 31px;
}

#envelopes, #trades {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonial {
    font-style: italic;
}

.testimonial span {
    color: #bbbbbb;
}

/* BOOTSTRAP OVERRIDES */

.navbar-brand {
    padding: 16px 15px;
}
