body {
    padding-top: 80px;
    padding-bottom: 30px;
}

#logo {
    width: 97px;
    height: 31px;
}

#envelopes, #trades {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonial, .thanks {
    font-style: italic;
}

.subdued {
    color: #dddddd;
}

.paypal-button {
    border: 0px;
}

.donate-header {
    margin: 0px 0px 2px 0px;
    font-size: 12px;
    font-style: italic;
}

.small-italic {
    font-size: 14px;
    font-style: italic;
}

.colored-emphasis {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #18bc9c;
}

.paypal {
    margin-top: 10px;
}

/* BOOTSTRAP OVERRIDES */

.navbar-brand {
    padding: 16px 15px;
}
