body {
    padding-top: 80px;
    padding-bottom: 30px;
}

#logo {
    width: 97px;
    height: 31px;
}

#envelopes, #trades {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonial {
    font-style: italic;
}

.subdued {
    color: #dddddd;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* BOOTSTRAP OVERRIDES */

.navbar-brand {
    padding: 16px 15px;
}
